<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
body {
   margin: 0;
   padding: 0;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #f2f2f2;
}

.indexPage {
	display: flex;
	flex-direction: column; 

    
div a {
    background-color: rgb(83, 252, 255);
    padding: 5px;
}
span {
	color:red; 
}
</style>
</head>
<body>

	<div class="indexPage">
		<h3>
			Navigate to the secured pages by clicking <a th:href="@{/secure}"><span>HERE</span></a>.
		</h3>
		
		
		<div><a th:href="@{/secure/insert}">Insert</a></div><br>
		<div><a th:href="@{/secure/update}">Update</a></div><br>
	
		<form method="post" th:action="@{/logout}">
			<input type="submit" value="Logout">
		</form>
	</div>
	
</body>
</html>

























